<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relationship One</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
</head>
<body>


<img src="images/R1_Logo_Horizontal.png" alt="Relationship One Logo" class="logo">
<img src="images/laundrybanner.jpg" alt="Website Laundry Banner" class="banner">

<div class="container">
    <div class="row">

        <div class="col-xs-5 col-md-5 left">
            <p>Column 1</p>
            <p>Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast,
            so we are going to enjoy our breakfast. Lion! Fan luv. Lion! Stay focused. I’m giving you cloth talk,
            cloth. Special cloth alert, cut from a special cloth. Bless up. Let me be clear, you have to make it
            through the jungle to make it to paradise, that’s the key, Lion! In life there will be road blocks but
            we will over come it. It’s on you how you want to live your life. Everyone has a choice. I pick my choice,
            squeaky clean.</p>

            <p>Give thanks to the most high. Surround yourself with angels, positive energy, beautiful people, beautiful
            souls, clean heart, angel. Look at the sunset, life is amazing, life is beautiful, life is what you make
            it. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart,
            angel. Another one. Life is what you make it, so let’s make it. Bless up. Mogul talk. Watch your back,
            but more importantly when you get out the shower, dry your back, it’s a cold world out there. They don’t
            want us to eat. I told you all this before, when you have a swimming pool, do not use chlorine, use salt
            water, the healing, salt water is the healing.</p>

            <p>In life there will be road blocks but we will over come it. Find peace, life is like a water fall, you’ve
            gotta flow. How’s business? Boomin. They never said winning was easy. Some people can’t handle success,
            I can. Celebrate success right, the only way, apple. Stay focused. You should never complain, complaining
            is a weak emotion, you got life, we breathing, we blessed. You see the hedges, how I got it shaped up?
            It’s important to shape up your hedges, it’s like getting a haircut, stay fresh.</p>
        </div>

        <div class="col-xs-2 col-md-2">
            <div class="space">
            </div>
        </div>

        <div class="col-xs-5 col-md-5 right">
            <p>Column 2</p>
            <form>
                First Name:<br>
                <input type="text" name="firstname">
                <br>
                Last Name:<br>
                <input type="text" name="lastname">
                <br>
                Email Address:<br>
                <input type="text" name="emailaddress">
                <br>
                Company:<br>
                <input type="text" name="company">
                <br>
                Title:<br>
                <input type="text" name="title">
                <br>
                Country:<br>
                <input type="text" name="country">
                <br>
                State:<br>
                <input type="text" name="state">
                <br>
                Additional Comments:<br>
                <input type="text" name="additionalcomments">
            </form>
        </div>
    </div>

        <div class="centre">
            <p>Column 3</p>
        </div>
</div>
</body>
</html>
